body,
div,
main,
aside,
img {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    width: 100%;
}

.container {
    display: flex;
    flex-wrap: wrap;
    background-color: deepskyblue;
}

.aside {
    display: flex;
    flex-wrap: wrap;
}

.main,
.aside {
    width: 96%;
    margin: 2%;
}

.main__item,
.aside__item {
    background-color: paleturquoise;
    width: 100%;
}

.aside__item--first {
    margin-bottom: 4%;
}

@media only screen and (min-width: 768px) {
    .aside__item {
        width: 48%;

    }

    .aside__item--first {
        margin: 0 4% 0 0;
    }
}

@media only screen and (min-width: 1024px) {
    .container {
        flex-wrap: nowrap;
        max-width: 1200px;
        margin: auto;
    }

    .main {
        width: 62%;
    }

    .aside {
        display: inline-block;
        width: 30%;
    }

    .aside__item {
        width: 100%;
    }

    .aside__item--first {
        margin: 0 0 3% 0;
    }
}
